@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,500;1,400&family=Rubik+Microbe&family=Sono&display=swap');

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* font-family: 'Rubik Microbe', cursive; */
  font-family: 'Sono', sans-serif;
  font-weight: 800;
}

a,
.orange {
  text-decoration: none;
  color: rgb(189, 135, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(52, 100%, 37%, 0.2);
  }
}