@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;

  font-weight: normal;
}

a,
.orange {
  text-decoration: none;
  color: rgb(189, 135, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(52, 100%, 37%, 0.2);
  }
}